@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

:root {
  /* (pantalla) */
  --color-txt-base: #607b82;
  /* font-color */
  --color-txt-base2: #2e2e31;
  /* (data-bases) */
  --color-txt-acento: #d3faf5;
  /* (--color-gray) */
  --color-txt-dark: #424242;
  /* color-pc */
  --color-txt-ppal: #009c86;
  /* color base */
  --color-txt-white: #fafafa;
  /* --color-teal-muy-clarito:  */
  --color-txt-light: #a8f0df;
  /* --color-violeta-complementario:  */
  --color-txt-purple: #483d8b;
  --color-txt-love: #00dfc0;

  /* color-pad buttons*/
  --color-icons: #007b67;
  /* data-bases */
  --color-button-light: #d3faf526;

  --background-color: #ffffff;
  /* --color-data-bases-t26:  */
  --background-color-light: #d3faf526;
  /* --color-data-bases-t40:  */
  --background-color-light2: #d3faf540;
  /* color-pc */
  --background-color-dark: #009c86;
  /* base fafafa */
  --background-color-white: #fafafa;
  /* --color-teal-muy-clarito:  */
  --background-color-light3: #a8f0df;
  --background-mobile: #fafafa99;

  --background-gradient: linear-gradient(
    180deg,
    #00dfc0 0%,
    #1b463d 94%,
    #213c38 100%
  );

  /* skills */
  --color-card-border: #dddfe5;

  --text-shadow: #42424280;
  --box-shadow-header: 0 0 29px 0 #86868640;
  --box-shadow-form: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --box-shadow-card: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.dark-mode {
  /* (pantalla) */
  --color-txt-base: #b3a3ba;
  /* font-color */
  --color-txt-base2: #d9d8d9;
  /* (data-bases) */
  --color-txt-acento: #b3a3ba;
  /* (--color-gray) */
  --color-txt-dark: #d9d8d9;
  /* color-pc */
  --color-txt-ppal: #009c86;
  /* color base */
  --color-txt-white: #d9d8d9;
  /* #10091d; */
  /* --color-teal-muy-clarito:  */
  --color-txt-light: #b3a3ba;
  /* --color-violeta-complementario:  */
  --color-txt-purple: #d9d8d9;
  --color-txt-love: #b3a3ba;

  /* color-pad buttons*/
  --color-icons: #68507b;
  /* data-bases */
  --color-button-light: #b3a3ba26;

  --background-color: #10091d;
  /* --color-data-bases-t26:  */
  --background-color-light: #190f2e;
  /* #46315c; */
  /* --color-data-bases-t40:  */
  --background-color-light2: #28193d90;
  /* #28193d; */
  /* color-pc */
  --background-color-dark: #46315c;
  /* base fafafa */
  --background-color-white: #28193d80;
  /* --color-teal-muy-clarito:  */
  --background-color-light3: #68507b;
  --background-mobile: #10091d99;

  --background-gradient: linear-gradient(
    180deg,
    #68507b 0%,
    #46315c 94%,
    #28193d 100%
  );

  /* skills */
  --color-card-border: #46315c;

  --text-shadow: #fafafa80;
  --box-shadow-header: 0 0 29px 0 #fafafa40;
  --box-shadow-form: 0 4px 8px 0 #00000066, 0 6px 20px 0 #0000004d;
  --box-shadow-card: 0 0 10px 0 rgba(255, 255, 255, 0.05);
  /* 0 4px 8px 0 #2c203ac2, 0 6px 10px 0 #46315cc2; */
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--background-color-dark) var(--background-color-white);
  scrollbar-width: thin;
}

body {
  color: var(--color-txt-base2);
  font-family: "Montserrat", "sans serif";
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--background-color);
  padding: 20px 0;
  width: 100%;
  justify-content: flex-end;
  box-shadow: var(--box-shadow-header);
}

/*-------------------------
        TEXTOS
-------------------------*/

p {
  text-align: center;
  margin: 20px 0;
}

h1,
h3 {
  text-align: left;
}

h1 {
  font-family: "Allura";
  font-weight: 900;
  font-size: 75px;
  color: var(--color-txt-ppal);
  text-shadow: 2px 2px 4px var(--text-shadow);
}

h2,
h3 {
  font-weight: 900;
}

h2 {
  font-size: 45px;
  text-align: center;
  color: var(--color-txt-base2);
}

h3 {
  font-size: 30px;
  color: var(--color-txt-dark);
  margin: 90px 0 10px 0;
}

/*--------------------------------
        NAV BAR GENERAL
----------------------------------*/
ul,
.list-style {
  list-style-type: none;
  align-items: flex-end;
}

a,
.link-style {
  text-decoration: none;
  transition: transform 0.4s;
  font-weight: bold;
}

.link-style:hover {
  transform: scale(1.1);
}

/*--------------------------------
        NAV BAR HEADER
----------------------------------*/
.header-fixed {
  position: fixed;
  z-index: 1;
}

.nav-header {
  margin-right: 10%;
  color: var(--color-txt-base);
}

.menu-header,
.menu-proyectos,
.menu-footer {
  margin: 10px;
  padding: 10px;
}

.icono-burger {
  display: block;
  font-size: 30px;
  color: var(--color-icons);
  margin: 10px 0;
}

.button {
  background-color: var(--color-icons);
  border-radius: 25px;
  color: var(--color-txt-acento);
  padding: 10px 40px;
  font-weight: bold;
}

.button-mode {
  background-color: transparent;
  border: 0px transparent;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-mode {
  width: 100%;
  margin-left: 2.5rem;
}

/*--------------------------------
    MENU DESPLEGABLE MOBILE
----------------------------------*/
.contenedor-barra-mobile {
  display: flex;
  z-index: 1;
  position: absolute;
  top: 80px;
  right: 0;
  transition: 1s;
}

.barra-mobile {
  background-color: var(--background-mobile);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.menu-desplegado {
  right: 0;
  top: 0;
}

/*--------------------------------
        DISPLAY FLEX
----------------------------------*/

.seccion-hola,
.contenedor-hola,
.botonera-proyectos,
ul,
nav,
.seccion-quote,
.div-quote,
.contenedor-proyectos,
.seccion-footer,
.div-contacto,
header,
.contenedor-skills,
.seccion-skills,
.contenedor-asides,
.seccion-contacto {
  display: flex;
}

/*--------------------------------
        SECCIÓN HOLA
----------------------------------*/

.seccion-hola {
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  background-color: var(--background-color);
}

.contenedor-hola {
  width: 90%;
  padding: 90px 30px 100px 30px;
}

.texto-hola {
  width: 60%;
  padding: 30px;
}

.img-hola-container {
  margin: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
}

.img-hola {
  width: 100%;
  -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
  object-fit: cover; 
}

.p-hola {
  text-align: left;
  color: var(--color-txt-base);
  margin: 16px 0;
}

.p-hello2 {
  margin: 20px 0 35px 0;
  max-width: 90%;
}

.hola-link {
  padding: 10px 40px;
  margin: 4px;
}

.contenedor-icon-socialmedia {
  display: flex;
  margin: 1rem;
}

.icon-socialmedia {
  margin-right: 2rem;
  align-self: center;
  white-space: nowrap;
  /* ^^^ el texto del boton queda siempre en la misma línea */
}

/*--------------------------------
        SECCIÓN SKILLS
----------------------------------*/

.seccion-skills {
  background-color: var(--background-color-light2);
  padding: 45px;
  align-items: center;
  flex-direction: column;
}

/* -- CAJA DE TARJETAS -- */
.contenedor-skills {
  width: 80%;
  margin-top: 40px;
  padding: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

/* -- CAJA DE CADA TARJETA -- */
.skills {
  background-color: var(--background-color-white);
  border: 1px var(--color-card-border) solid;
  border-radius: 10px;
  width: 30%;
  margin: 0.5rem;
  padding: 2rem;
  color: var(--color-txt-base2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-shadow: var(--box-shadow-card);
}

.img-skills {
  width: 65%;
  height: auto;
}

.logos-skills {
  justify-content: center;
}

.h2-skills {
  margin-top: 100px;
}

.p-titulo-skills {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  padding-top: 1rem;
  margin: 20px 0 0 0;
}

/*--------------------------------
        SECCIÓN QUOTE
----------------------------------*/
.seccion-quote {
  background: var(--background-gradient);
  color: var(--color-txt-white);
  padding: 100px 40px 100px;
  justify-content: center;
  height: 100%;
}

.div-quote {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-quote {
  font-family: "Allura";
  font-size: 35px;
  margin: 10px 100px;
}

.h3-quote {
  font-family: "Allura";
  font-size: 60px;
  color: var(--color-txt-white);
  padding-bottom: 20px;
  font-weight: normal;
}

.img-quote {
  width: 15%;
  padding-bottom: 80px;
}

.ico-quote {
  margin-bottom: 35px;
  width: 4em;
  height: 3.5rem;
}

.ico-mobile {
  width: 2em;
}

.ico-bigscreen {
  width: 6em;
}

/*--------------------------------
        SECCIÓN PROYECTOS
----------------------------------*/
.seccion-proyectos {
  background-color: var(--background-color-light);
  padding: 45px;
}

/* -- MENÚ -- */
.botonera-proyectos {
  justify-content: center;
  padding: 20px 0;
  margin: 20px auto 10px auto;
}

.menu-proyectos {
  font-size: 16px;
  background-color: var(--color-button-light);
  border: none;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.4s;
  color: var(--color-txt-base2);
}

.menu-proyectos:hover {
  background-color: var(--color-icons);
  border-radius: 25px;
  color: var(--color-txt-acento);
  padding: 10px 40px;
  cursor: pointer;
}

.buttonClicked {
  background-color: var(--color-icons);
  border-radius: 25px;
  color: var(--color-txt-acento);
  font-weight: bold;
}

/* -- CAJA DE TARJETAS -- */
.contenedor-proyectos {
  display: flex;
  margin-top: 40px;
  padding: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* -- CAJA DE CADA TARJETA -- */
.proyectos {
  background-color: var(--background-color-white);
  border: 1px var(--color-card-border) solid;
  border-radius: 10px;
  width: 330px;
  height: 287px;
  margin: 10px;
  padding: 30px;
  color: var(--color-txt-base2);
  box-shadow: var(--box-shadow-card);
}

.img-proyectos {
  margin: 5px 35px 5px 35px;
  object-position: center;
}

.h2-proyectos {
  margin-top: 100px;
}

.p-titulo-proyectos {
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
}

/*--------------------------------
            CONTACTO
----------------------------------*/
.seccion-contacto {
  min-height: 85vh;
  flex-direction: column;
  padding: 2rem 0;
  background-color: var(--background-color);
}

.h2-contacto {
  margin: 6.25rem 0 2.5rem;
}

.contenedor-asides {
  padding: 3rem 2rem;
  justify-content: center;
  align-items: center;
}
/* IMG */
.contenedor-img-contacto {
  width: 20vw;
}
.contenedor-img-contacto img {
  width: 100%;
}
/* ICONS */
.contenedor-aside-icons {
  width: 20vw;
  display: flex;
  flex-direction: column;
  order: 3;
}

.contenedor-iconos-contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* mantiene los íconos alineados a la izquierda */
  margin: 0 auto;
}

.contenedor-iconos-contacto a {
  display: flex;
  padding: 1.25rem 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.icons-title {
  color: var(--color-txt-base);
  font-weight: 500;
  margin: 10px 0;
  order: 1;
}

.icons-contact {
  order: 2;
  margin-left: 1rem;
}

/* FORM */
.contenedor-form {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.etiqueta-form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  color: var(--color-icons);
  font-weight: 400;
  padding-top: 0.2rem;
  font-weight: bold;
  margin-top: 1.1rem;
}

.campo-form {
  width: 25vw;
  margin: 0.5rem;
  border-radius: 25px;
  min-height: 50px;
  border: none;
  box-shadow: var(--box-shadow-form);
  padding: 1rem;
  font-family: "Montserrat", "sans serif";
}

.button:disabled {
  opacity: 0.5;
}

.campo-form-msg {
  field-sizing: content;
}

.campo-form::placeholder {
  /* color: #2e2e3180; */
  color: var(--color-txt-base2);
  opacity: 40%;
  font-family: "Montserrat", "sans serif";
}

.campo-form-button {
  background-color: var(--background-color-dark);
  margin-top: 1.5rem;
}

.msg-form-enviado {
  background-color: var(--background-color-light3);
  padding: 1rem;
  color: var(--color-txt-purple);
  font-weight: 600;
}

/*--------------------------------
            FOOTER
----------------------------------*/
.seccion-footer {
  background-color: var(--background-color-dark);
  padding: 45px;
  flex-direction: column;
}

/* -- MENÚ -- */
.nav-footer {
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 10px auto 10px auto;
}

.menu-footer {
  font-size: 14px;
  color: var(--color-icons);
  color: var(--color-txt-light);
}

.emoji-size {
  font-size: 25px;
}

/* -- LOGOS -- */
.div-contacto {
  justify-content: center;
}

.img-contacto {
  width: 80px;
  padding: 10px;
  margin: 10px;
  transition: 0.3s;
  color: var(--color-icons);
}

/* -- TEXTO -- */
.span-footer {
  color: var(--color-txt-white);
  cursor: pointer;
}

.span-footer a {
  color: var(--color-txt-white);
}

.amor {
  color: var(--color-txt-love);
  font-size: 18px;
}

.footer-recursos {
  font-size: 9px;
  margin-top: 2rem;
  gap: 0.5rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.footer-recursos a {
  font-weight: 400;
  color: var(--color-txt-light);
}

.footer-cada-recurso {
  padding: 0.5rem;
}

/* contenedor de los iconos */
.footer-socialmedia-icons {
  display: flex;
  justify-content: center;
  color: var(--color-txt-acento);
  padding-bottom: 1rem;
}

.footer-icons {
  color: var(--color-txt-light);
  margin: 1rem;
  size: 3rem;
}

.footer-color-icons {
  color: var(--color-txt-light);
}

.footer-signature-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------------
    @MEDIA TABLETS
-------------------------*/
@media (min-width: 600px) and (max-width: 900px) {
  /*--------------------------------
            NAV BAR HEADER
    ----------------------------------*/

  .nav-header {
    margin-right: 5%;
    justify-content: space-between;
  }

  .menu-header {
    font-size: 16px;
  }

  /*--------------------------------
            SECCIÓN HOLA
    ----------------------------------*/

  .seccion-hola,
  .contenedor-hola,
  .texto-hola,
  .texto-hola ul {
    justify-content: center;
    align-items: center;
  }

  .contenedor-hola {
    flex-wrap: wrap;
  }

  .texto-hola {
    padding: 5px;
    /* width: 100vw; */
    order: 2;
  }

  .contenedor-hola h3 {
    margin-top: 2rem;
  }

  .img-hola-container {
    order: 1;
    align-items: flex-end;
    margin: 0;
    margin-top: 3rem;
  }

  .img-hola {
    width: 70%;
    margin-top: 20px;
  }

  /*-------------------------
            TEXTOS
    -------------------------*/

  .p-hola,
  h1,
  h3 {
    text-align: center;
  }

  h1 {
    font-size: 72px;
  }

  h3 {
    font-size: 25px;
  }

  .ico-quote {
    margin-bottom: 35px;
  }

  /*--------------------------------
            SECCIÓN SKILLS
    ----------------------------------*/

  /* -- CAJA DE TARJETAS -- */
  .contenedor-skills {
    width: 80%;
  }

  .skills {
    min-width: 135px;
    max-width: 155px;
  }

  .p-titulo-skills {
    padding: 10px 100px;
    font-size: 16px;
  }

  /*--------------------------------
            SECCIÓN PROYECTOS
    ----------------------------------*/

  /* -- CAJA DE TARJETAS -- */

  .contenedor-proyectos {
    padding-left: 0;
    padding-right: 0;
  }

  /*--------------------------------
              CONTACTO
  ----------------------------------*/

  .contenedor-asides {
    padding: 1.5rem;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
  /* IMG */
  .contenedor-img-contacto {
    width: 45vw;
    /* order: 3; */
  }

  /* ICONS */
  .contenedor-aside-icons {
    justify-content: center;
    width: 30vw;
  }

  .contenedor-iconos-contacto a {
    display: flex;
    padding: 1.25rem 0;
  }

  /* FORM */
  .contenedor-form {
    width: 65vw;
    order: 1;
  }

  .campo-form {
    width: 45vw;
  }
}

/*-------------------------
    @MEDIA CELULARES
-------------------------*/
@media (max-width: 599px) {
  /*--------------------------------
            NAV BAR HEADER
    ----------------------------------*/

  #ul-header {
    display: none;
  }

  .nav-header {
    justify-content: space-between;
    width: 100%;
  }

  .button-mode {
    order: 1;
    margin-left: 1rem;
  }

  .icono-burger {
    display: flex;
    font-size: 30px;
    color: var(--color-icons);
    order: 2;
  }

  /*--------------------------------
            SECCIÓN HOLA
    ----------------------------------*/

  .seccion-hola,
  .contenedor-hola,
  .texto-hola,
  .texto-hola ul {
    justify-content: center;
    align-items: center;
  }

  .contenedor-hola {
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0 0 30px 0;
  }

  .texto-hola {
    padding: 5px;
    width: 100%;
    order: 2;
  }

  .texto-hola h1 {
    white-space: nowrap;
    font-size: 50px;
   }

  .p-hello2 {
    margin: 20px 0 35px 0;
    max-width: 100%;
  }

  .img-hola {
    width: 70%;
  }

  .img-hola-container {
    order: 1;
    align-items: flex-end;
    margin: 0;
    margin-top: 6rem;
  }

  .contenedor-hola h3 {
    margin-top: 2rem;
  }

  .p-hola,
  h1,
  h3 {
    text-align: center;
  }

  .button-section {
    display: flex;
    flex-wrap: wrap;

  }

  .icon-socialmedia {
  margin-right: 1rem;
  
  /* ^^^ el texto del boton queda siempre en la misma línea */
}

  /*--------------------------------
            TEXTOS
    ----------------------------------*/

  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }

  /*--------------------------------
            SECCIÓN SKILLS
    ----------------------------------*/

  /* -- CAJA DE TARJETAS -- */
  .contenedor-skills {
    width: 100%;
    padding: 0.3rem;
  }

  .skills {
    width: 40%;
    min-width: 135px;
    margin: 0.3rem;
  }

  .img-skills {
    width: 90%;
    height: auto;
  }

  .p-titulo-skills {
    white-space: wrap;
    font-size: 16px;
  }

  /*--------------------------------
            SECCIÓN QUOTE
    ----------------------------------*/
  .p-quote {
    margin: 10px 50px;
  }

  .h3-quote {
    font-size: 50px;
  }

  .ico-quote {
    margin-bottom: 20px;
  }

  /*--------------------------------
            SECCIÓN PROYECTOS
    ----------------------------------*/
  .seccion-proyectos {
    padding-left: 10px;
    padding-right: 10px;
  }

  .botonera-proyectos {
    padding-top: 10px;
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  /* -- MENÚ -- */
  .menu-proyectos {
    font-size: 14px;
  }

  /* -- CAJA DE TARJETAS -- */
  .contenedor-proyectos {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
  }

  /* -- CAJA DE CADA TARJETA -- */
  .proyectos {
    width: 230px;
    height: 230px;
    margin: 10px;
    padding: 10px;
  }

  /*--------------------------------
              CONTACTO
  ----------------------------------*/

  .contenedor-asides {
    padding: 1.5rem;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
  }

  /* IMG */
  .contenedor-img-contacto {
    width: 55vw;
  }

  /* ICONS */
  .contenedor-aside-icons {
    width: 100%;
  }

  .contenedor-iconos-contacto {
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  .footer-socialmedia-icons {
    width: 100%;
    
  }

  .icons-title {
    display: none;
  }

  /* FORM */
  .contenedor-form {
    width: 65vw;
    order: 2;
  }

  .campo-form {
    width: 65vw;
  }

  /*--------------------------------
                FOOTER
    ----------------------------------*/
  /* -- MENÚ -- */
  .nav-footer, .menu-footer, .footer-socialmedia-icons {
    display: none;
  }

  .seccion-footer {
    width: 100dvw;
  }

  .img-contacto {
    width: 55px;
  }

  .amor {
    font-size: 14px;
  }
}

/*-------------------------
    @MEDIA GRANDES PANTALLAS
-------------------------*/
@media (min-width: 1400px) {
  /*-------------------------
            TEXTOS
    -------------------------*/
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 35px;
    margin-top: 150px;
  }

  /*--------------------------------
            NAV BAR GENERAL
    ----------------------------------*/

  /*--------------------------------
            NAV BAR HEADER
    ----------------------------------*/

  /*--------------------------------
            DISPLAY FLEX
    ----------------------------------*/

  /*--------------------------------
            SECCIÓN HOLA
    ----------------------------------*/

  h1 {
    font-size: 92px;
  }

  h3 {
    font-size: 35px;
  }

  .p-hola {
    font-size: 20px;
  }

  .img-hola {
    width: 65%;
  }

  /*--------------------------------
            SECCIÓN SKILLS
    ----------------------------------*/

  /* -- CAJA DE TARJETAS -- */

  /* -- CAJA DE CADA TARJETA -- */
  .skills {
    width: 18%;
  }

  .p-titulo-skills {
    font-size: 22px;
  }

  /*--------------------------------
            SECCIÓN QUOTE
    ----------------------------------*/
  .seccion-quote {
    padding: 250px 40px;
    height: 1080px;
  }

  .p-quote {
    font-size: 45px;
  }

  .h3-quote {
    font-size: 70px;
  }

  .ico-quote {
    margin-bottom: 35px;
  }

  /*--------------------------------
            SECCIÓN PROYECTOS
    ----------------------------------*/
  .seccion-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-proyectos {
    font-size: 18px;
  }

  /* -- CAJA DE TARJETAS -- */
  .contenedor-proyectos {
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
  }

  /* -- CAJA DE CADA TARJETA -- */
  .proyectos {
    width: 370px;
    height: 327px;
  }

  .p-titulo-proyectos {
    font-size: 18px;
  }

  /*--------------------------------
                FOOTER
    ----------------------------------*/

  .menu-footer {
    font-size: 18px;
  }

  .amor {
    font-size: 20px;
  }
}

/*-------------------------
    BÚSQUEDAS Y FILTROS
-------------------------*/
.hidden {
  display: none;
}

/*-------------------------
    PALETA DE COLORES
-------------------------*/

/* Armé la paleta de colores simulando una clase, para tener todos los códigos HEX/RGB juntos */

.cupetín-de-colores {
  color: #009c86;
  /*pc*/
  color: #007b67;
  /* rgb(0,123,103); 006754; /*pad*/
  color: #607b82;
  /* rgb(96,123,130); /*pantalla*/
  color: #00dfc0;
  /* rgb(0,223,192); /*iconos laterales*/
  color: #d3faf5;
  /*data bases*/
  color: #483d8b;
  /*violeta complementario*/
  color: #008080;
  color: #135144;
  /*verde oscuro*/
  color: #405155;
  /*gris oscuro*/
  color: #a8f0df;
  /*teal muy clarito*/
}

/*-------------------------
        @Luzyla
-------------------------*/
